.thumbnail {
  background: #FFF;
  border: thin solid #DDD;
  padding: 0.2rem;
  border-radius: 0.2rem;
  min-width: 2rem;
  max-width: 8rem;
  min-height: 2rem;
  max-height: 8rem;

}

.button {
  color: #444;
  border: thin solid #EEE;
}
